{% extends 'base.html' %}

{% block head %}
    <title>IMDB</title>
{% endblock %}

{% block body %}
<div class="container my-5">

    <!-- Centered Title -->
    <h1 class="text-center mb-4">IMDB Movie Search</h1>

    <!-- Centered Form -->
    <form action="/results" method="POST" class="d-flex justify-content-center mb-4">
        <input type="text" name="content" placeholder="Search for a movie, genre, country or director" class="form-control w-50 me-2 mr-2">
        <input class="btn btn-dark" type="submit" value="Submit">
    </form>

</div>
{% endblock %}
